
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.8em;
  color: #F5F5F5;

}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
  font-weight: normal;
  font-style: normal;
}




.header{

  position: fixed;
  box-shadow: 1px 1px 4px 0;
  z-index: 1;
  width: 100%;
  background:#101C5B;
}


.header ul{
  margin:0;
  padding:0;
  list-style: none;
  overflow: hidden;
  background-color: #101C5B;


}

.header ul a {
display: block;
text-decoration: none;
color:#F5F5F5;
padding: 20px;
}

.header ul a:hover{
  background-color: #0A154E;

}
.header .logo{
  float: left;
  font-size: 25px;
  font-family: 'Mukta', sans-serif;
  color:#FF8A00;
  padding: 15px 20px;

  text-decoration: none;
}


.header .menu{
  clear: both;
  max-height: 0;
  transition max-height: .3s ease-out;
  }

  .header .menu-icon {
    padding: 28px 20px;
    position: relative;
    float:right;
    cursor: pointer;
  }

  .header .menu-icon .nav-icon{
    background-color: #F5F5F5;
    display:block;
    width:18px;
    height: 2px;
    position:relative;
    transition background-color: .3s ease-out;

  }

  .header .menu-icon .nav-icon::before,
  .header .menu-icon .nav-icon::after{
    background-color: #F5F5F5;
    content:"";
    display: block;
    height: 100%;
    width: 100%;
    transition all: .3s ease-out;
    position: absolute;
    }

    .header .menu-icon .nav-icon::before{
      top:6px;
    }

    .header .menu-icon .nav-icon::after{
      top:-6px;
      }

    .header .menubtn {
      display: none;
    }

    .header .menubtn:checked ~ .menu{
      max-height: 290px;
}

.header .menubtn:checked ~ .menu-icon .nav-icon{
  background-color: transparent;
}

.header .menubtn:checked ~ .menu-icon .nav-icon::before{
  transform: rotate(-45deg);
  top:0;

}

.header .menubtn:checked ~ .menu-icon .nav-icon::after{
  transform: rotate(45deg);
  top:0;
}




.hero {
  padding-top: 150px;
  padding-bottom: 347px;
  padding-left: 2em;
  background-color: #101C5B;
  width: 100%;



}


.hero h1 {
  font-size: 64px;
    padding-bottom: 30px;
    color: #F5F5F5;

}
.hero p {
  color: #FF8A00;
  font-size: 32px;

}

.image{
    position: absolute;
  display:flex;
  left: 0px;
top: 50px;
z-index: 0;


}

.image img{
  border: none;
  max-width: 100%;
  height: 100%;
border-style: solid;
border-color:#101C5B;

opacity: 30%;





}




.whoiam {
  padding-top: 120px;
padding-bottom: 187px;
padding-left: 1em;
background-color: #101C5B;
display: flex;
width: 100%;


}





.whoiam h2 {

  padding: 2em 0em;
  font-size: 48px;
    padding-bottom: 30px;
    color: #FF8A00;
}

.whoiam p {
  color: #F5F5F5;
  font-size: 24px;
}

.bio{

  width: 50%;
  margin-left: 1em;
    margin-right: 7em;
    text-align: justify;
  }


.bio ul{
  padding-left: 1em;
  font-size:22px;
  padding-top: .5em;
  padding-bottom: .5em;
  color:#FF8A00
}

.bio li{
  padding-bottom: .5em
}




.container{

  padding-top: 20px;
  padding-bottom: 187px;
  padding-left: 2em;
  background-color: #101C5B;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

}



.container h2 {
  font-size: 36px;
  color: #FF8A00;
  margin-bottom: 30px;


}


.item{
width: 50%;
color: #F5F5F5;
}


.item p{
  font-size: 20px;
  color: #F5F5F5;

}


.progress{
   width:400px;
   height: 10px;
   background-color: #F5F5F5;
   border-radius: 5px;
   position: relative;
   overflow: hidden;
   margin: 10px 0;

   }
.progress div{
    content: "";
    background-color: #FF8A00;
    position: absolute;
    height: 10px;
    top:0;
    left: 0;

}




.project {
  padding-top: 100px;
  padding-bottom: 187px;
  padding-left: 2em;
  background-color: #101C5B;
  display: flex;
  flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}




.layout  {
  font-size: 32px;
    padding-bottom: 50px;
    color: #FF8A00;
    width: 100%;

}



.img{
    position:relative;
}


.images{
height: 300px;
   width: 400px;
   margin: 20px;
   border-style: solid;
   border-color: #FF8A00;
   border-width: 10px;
}

.textprt a  {
  color: #F5F5F5;
   text-decoration: none;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #FF8A00;
  }
  .img:hover .overlay {
      opacity: 1;
    }

  .textprt{
    color: #F5F5F5;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.contact{
  padding-top: 80px;
  padding-bottom: 87px;
  padding-left: 2em;
  background-color: #101C5B;
  flex-wrap: wrap;
  width: 100%;
}

.contact h4{
  padding-bottom: 30px;


}
.contact p{
  padding-bottom: 30px;
  color:#FF8A00
}
.contact a {
  text-decoration: none;
  color: #F5F5F5;
  font-weight: 700;
  font-size: 20px;


}

.contact h3{
  font-size: 32px;
    padding-bottom: 50px;
    color: #FF8A00;
    width: 100%;
}

.channels{

  width: 100%;


}

.socialbuttonimg{

height: 50px;
   width: 50px;
   margin: 20px;

}

.socialbuttonimg2{
height: 40px;
   width: 60px;
   margin: 20px;

}



@media screen and (max-width:749px) {

  .hero {
    padding-top: 240px;
  }
  .hero h1{
    font-size: 48px;
  }
  .hero p{
    font-size:24px;
    padding-right: 1em;
  }
  .item{
  width: 100%;
  color: #F5F5F5;
}

  .whoiam{
     display: block;
     padding-right: 3em;
     padding-top: 80px;
  }


  .bio{
   width: 100%;


}
.image{
  z-index: -1;
}
.images{
  height: 200px;
     width: 300px;
}
.bio h2{
  justify-content: center;
  font-size: 36px;
}

.progress  {
  width:300px;
  height: 10px;
}
 .img{
   margin-left:-30px;
 }
 .item{
 width: 100%;
 color: #F5F5F5;
padding-bottom: 40px;}
 .project{
   padding-top: 100px;
 }



}

@media  (min-width: 750px) {


.item{
  width: 50%;
  color: #F5F5F5;

  }

}
